  <div class="container">
    <div class="section white-space">
      <div class="row center">
        <h2 class="header2 card-title light-green-text text-darken-3 hide-on-small-only">Pellaero Sprinkler Purge System</h2>
        <h5 class="light-green-text text-darken-3 hide-on-small-only">Where convenience & efficiency meet.</h5>
        <h5 class="header2 card-title light-green-text text-darken-3 hide-on-med-and-up">Pellaero Sprinkler Purge System</h5>
        <p class="light-green-text text-darken-3 hide-on-med-and-up">Where convenience & efficiency meet.</p>
      </div>
      <div class="card">
        <div class="card-image">
          <iframe width="100%" height="450px" src="https://www.youtube.com/embed/iDvzfbf_lrc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="card-content">
          <h5 class="card-title light-green-text text-darken-3">About</h5>
          <p class="light">The patented Pellaero Sprinkler Purge System is a revolutionary way to manage your home irrigation system for year-round control and protection of your landscape. This unique system puts the purging process in the hands of the homeowner, allowing you to maintain a healthy and beautiful outdoor environment with the ability to switch from irrigation to purging at-will during transitional weather months. With your Pellaero system, you will enjoy the freedom and flexibility that comes with year-round irrigation control.</p>
          <br>
          <a class="brown-text text-darken-2" ui-sref="product">Learn More</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col s12">
          <h5 class="center light-green-text text-darken-3">Why Pellaero?</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="light">The Pellaero Sprinkler Purge System was designed to give the homeowner total year-round control over landscape irrigation, taking the guesswork out of when to seasonally shut down irrigation. With this automatic system, it's easy for the homeowner to purge and then turn the water on again after the danger of frost passes. This concept emerged from a need to allow homeowners and in-ground irrigation managers more flexibility during the seasonal transitions.</p>
          <p class="light">The Pellaero Sprinkler Purge System is also well-suited to green roof or rooftop gardening systems. Watering is needed year-round for many rooftop gardens and having the ability to purge on command is a necessity for maintenance of rooftop irrigation systems.</p>
        </div>
      </div>
    </div>
  </div>
