<div class="container">
  <div class="section white-space">
    <div class="row center">
      <h2 class="col s12 light-green-text text-darken-3 hide-on-small-only">Contact</h2>
      <h5 class="col s12 light-green-text text-darken-3 hide-on-small-only">Contact us and learn more about how you can benefit from using the Pellaero Sprinkler Purge System.</h5>
      <h5 class="col s12 light-green-text text-darken-3 hide-on-med-and-up">Contact</h5>
      <p class="col s12 light-green-text text-darken-3 hide-on-med-and-up">Contact us and learn more about how you can benefit from using the Pellaero Sprinkler Purge System.</p>
    </div>
    <div class="row">
      <p class="light col s12">We may be reached by phone or e-mail and will respond promptly to any questions you may have.</p>
    </div>
    <div class="row">
      <div class="col s12 m3">
        <p class="brown-text text-darken-2">Phone: (303) 664-5300</p>
        <div class="chip light-green darken-3">
          <a class="white-text" href="mailto:info@pellaero.com"><i class="material-icons email">email</i>Email</a>
        </div>
      </div>
    </div>
  </div>
</div>
