<div ng-init="pellaeroCtrl.collapsible()">
	<div class="container">
		<div class="section white-space">
			<div class="row center">
				<h2 class="header2 card-title light-green-text text-darken-3 hide-on-small-only">Frequently Asked Questions</h2>
				<h5 class="header2 card-title light-green-text text-darken-3 hide-on-med-and-up">Frequently Asked Questions</h5>
			</div>
			<div class="row">
				<div class="col s12">
					<ul class="collapsible" data-collapsible="expandable">
						<li>
							<div class="collapsible-header active hide-on-small-only"><h5 class="light-green-text text-darken-3"><i class="material-icons light-green-text text-darken-3">info</i>What benefit is there to installing this system?</h5></div>
							<div class="collapsible-header active light-green-text text-darken-3 hide-on-med-and-up"><i class="material-icons light-green-text text-darken-3">info</i>What benefit is there to installing this system?</div>
							<div class="collapsible-body"><p class="light">We call it total irrigation control.  You no longer have to guess at the proper seasonal shutdown of your irrigation system.  You no longer have to worry about freeze damage to your pressure vacuum breaker during a quick cold snap in the fall or spring.  Since it is easy and convenient to blowout the water, you can do it any time you feel freeze damage might occur.  Not only do you save the cost of the purge contractor each time you turn on the water, but you also save the cost of replacing the pressure vacuum breaker internal parts or exposed copper piping.</p></div>
						</li>
						<li>
							<div class="collapsible-header hide-on-small-only"><h5 class="light-green-text text-darken-3"><i class="material-icons light-green-text text-darken-3">info</i>How often can I purge my irrigation system?</h5></div>
							<div class="collapsible-header light-green-text text-darken-3 hide-on-med-and-up"><i class="material-icons light-green-text text-darken-3">info</i>How often can I purge my irrigation system?</div>
							<div class="collapsible-body"><p class="light">The system is designed for many years of maintenance free operation.  Feel free to purge your system several times each fall and spring, any time you feel it might freeze and cause damage.</p></div>
						</li>
						<li>
							<div class="collapsible-header hide-on-small-only"><h5 class="light-green-text text-darken-3"><i class="material-icons light-green-text text-darken-3">info</i>When can I water during dry seasons?</h5></div>
							<div class="collapsible-header light-green-text text-darken-3 hide-on-med-and-up"><i class="material-icons light-green-text text-darken-3">info</i>When can I water during dry seasons?</div>
							<div class="collapsible-body"><p class="light">Pellaero does not recommend turning on the water if the ground is frozen or the valve boxes that are located in the ground are at temperatures below freezing.  The operator must be aware of ground conditions before turning the water on in the seasonal transition months and in winter.  Watering on a frozen ground could cause puddles or excessive water run off and may lead to freeze damage of the irrigation system.  Please keep in mind that the ground may still be frozen even if the air temperatures are much higher.<br>Pellaero recommends keeping watering cycles short in cold conditions to prohibit the water from freezing in the system and then to follow with an immediate purge cycle.</p></div>
						</li>
						<li>
							<div class="collapsible-header hide-on-small-only"><h5 class="light-green-text text-darken-3"><i class="material-icons light-green-text text-darken-3">info</i>Is Pellaero compatible with my irrigation controller?</h5></div>
							<div class="collapsible-header light-green-text text-darken-3 hide-on-med-and-up"><i class="material-icons light-green-text text-darken-3">info</i>Is Pellaero compatible with my irrigation controller?</div>
							<div class="collapsible-body"><p class="light">The Pellaero Control Box is designed to work in parallel with the irrigation controller you have in place today. It is designed to use the existing 24VAC power source supplied with your irrigation controller, eliminating any conflicting power source that might cause shorts or grounds. Pellaero has been tested with all major irrigation controllers and can be used on systems up to 12 zones.</p></div>
						</li>
						<li>
							<div class="collapsible-header hide-on-small-only"><h5 class="light-green-text text-darken-3"><i class="material-icons light-green-text text-darken-3">info</i>How easy is it to install? Do I need a professional?</h5></div>
							<div class="collapsible-header light-green-text text-darken-3 hide-on-med-and-up"><i class="material-icons light-green-text text-darken-3">info</i>How easy is it to install? Do I need a professional?</div>
							<div class="collapsible-body"><p class="light">The system requires no programming and can easily be wired into your current irrigation controller. An air injection point needs to be plumbed into the main water line to the sprinkler system. With the automatic water valve option, this additional valve will need to be plumbed into the main water line just before the air injection point. Both the air injection point and automatic water valve must be in the water line that is located in a heated space, such as a basement.<br>The homeowner may choose to do this plumbing, but we suggest a plumbing professional be used for soldering the air injection point and the automatic water valve.<br>If the water source to your sprinkler system is off the main city supply to your residence and is buried in the yard, please call us to discuss how our system could be adapted for your application.</p></div>
						</li>
						<li>
							<div class="collapsible-header hide-on-small-only"><h5 class="light-green-text text-darken-3"><i class="material-icons light-green-text text-darken-3">info</i>Should I choose the standard or the automatic water valve option?</h5></div>
							<div class="collapsible-header light-green-text text-darken-3 hide-on-med-and-up"><i class="material-icons light-green-text text-darken-3">info</i>Should I choose the standard or the automatic water valve option?</div>
							<div class="collapsible-body"><p class="light">If your manual water valve is difficult to reach, or if you would like the ease of one less step when purging, then the automatic water valve option is the choice for you. If you have no problem reaching your manual water valve and are on a tighter budget, then the manual valve option may be right for you.</p></div>
						</li>
						<li>
							<div class="collapsible-header hide-on-small-only"><h5 class="light-green-text text-darken-3"><i class="material-icons light-green-text text-darken-3">info</i>Will I damage my irrigation system?</h5></div>
							<div class="collapsible-header light-green-text text-darken-3 hide-on-med-and-up"><i class="material-icons light-green-text text-darken-3">info</i>Will I damage my irrigation system?</div>
							<div class="collapsible-body"><p class="light">No. The Pellaero system is designed to work with most residential or small commercial applications and will not cause damage to any components.</p></div>
						</li>
						<li>
							<div class="collapsible-header hide-on-small-only"><h5 class="light-green-text text-darken-3"><i class="material-icons light-green-text text-darken-3">info</i>Can I use my own compressor?</h5></div>
							<div class="collapsible-header light-green-text text-darken-3 hide-on-med-and-up"><i class="material-icons light-green-text text-darken-3">info</i>Can I use my own compressor?</div>
							<div class="collapsible-body"><p class="light">Yes. The compressor needs to be a universal motor type air compressor, not requiring more than 13 Amps at 120 VAC at start-up, with performance ratings near 3.7 SCFM at 40 PSI and 2.6 SCFM at 90 PSI. A portable, oil-free, integrated air compressor with a 6-gallon tank is highly recommended for use with the Pellaero system. The approved list of air compressors are as follows: Porter Cable C2002, Bostitch CAP2000P, Hitachi EC510, and the Powermate Proforce VNF108062.</p></div>
						</li>
						<li>
							<div class="collapsible-header hide-on-small-only"><h5 class="light-green-text text-darken-3"><i class="material-icons light-green-text text-darken-3">info</i>How can you get the job done with the recommended small compressor?</h5></div>
							<div class="collapsible-header light-green-text text-darken-3 hide-on-med-and-up"><i class="material-icons light-green-text text-darken-3">info</i>How can you get the job done with the recommended small compressor?</div>
							<div class="collapsible-body"><p class="light">You do not need a large, heavy, expensive air compressor to adequately purge water from a residential or small commercial irrigation system. The landscape professionals use larger compressors because they are required for large commercial systems.<br>The Pellaero Sprinkler Purge System utilizes a patented process where a smaller, affordable air compressor can be used in residential or small commercial applications. The system blows air out of each zone several times and can determine when that zone’s purge is adequate for freeze protection. It does take more time with a smaller compressor, but since the system is fully automatic after purge has been selected, time is no longer as important.</p></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h5 class="light-green-text text-darken-3">Have more questions?</h5>
					<p class="light left-align">We may be reached by phone or e-mail and will respond promptly to any questions you may have.</p>
					<a class="brown-text text-darken-2" ui-sref="contact">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</div>
