<div ng-init="pellaeroCtrl.parallax()">
  <div class="parallax-container hide-on-med-and-down">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col m7">
            <h2 class="header">Year-round irrigation control begins with Pellaero.</h2>
            <div class="divider"></div>
            <h5>Pellaero Sprinkler Purge System on sale now!</h5>
            <a class="header-button btn-large white light-green-text text-darken-3" href="http://pellaero.myshopify.com/collections/all">Purchase</a>
          </div>
        </div>
      </div>
      <div class="parallax">
        <div class="black-background"></div>
        <video class="main-video parallax" loop autoplay="autoplay" controls muted>
          <source src="./videos/sprinkler_clip.mov" type="video/mp4">
          <source src="video.ogg" type="video/ogg">
          Your browser does not support the video element.
        </video>
      </div>
    </div>
  </div>

  <div id="small-parallax" class="parallax-container hide-on-large-only">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col s12 title">
            <h5>Year-round irrigation control begins with Pellaero.</h5>
            <div class="divider"></div>
            <p>Pellaero Sprinkler Purge System on sale now!</p>
            <a class="btn white light-green-text text-darken-3" href="http://pellaero.myshopify.com/collections/all">Purchase</a>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <div class="black-background"></div>
        <video class="main-video-small parallax" loop autoplay="autoplay" controls muted>
          <source src="./videos/sprinkler_clip.mov" type="video/mp4">
          <source src="video.ogg" type="video/ogg">
          Your browser does not support the video element.
        </video>
    </div>
  </div>

  <div class="container">
    <div class="section white-space">
      <div class="row center">
        <div class="col s12">
          <h2 class="header2 light-green-text text-darken-3 hide-on-small-only">Pellaero Sprinkler Purge System</h2>
          <h5 class="light-green-text text-darken-3 hide-on-small-only">Where convenience & efficiency meet.</h5>
          <h5 class="header2 light-green-text text-darken-3 hide-on-med-and-up">Pellaero Sprinkler Purge System</h5>
          <p class="light-green-text text-darken-3 hide-on-med-and-up">Where convenience & efficiency meet.</p>
          <p class="light">The Pellaero Sprinkler Purge System gives you the freedom and flexibility to manage your home irrigation system for year-round control and protection of your landscape. This unique system puts the purging process in the hands of the homeowner. Pellaero enables you to maintain a healthy and beautiful outdoor environment with the ability to switch from irrigation to purging at-will during transitional weather months.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="valign-wrapper parallax-container hide-on-small-only">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <div class="col s12">
            <h2>Don't let an unexpected freeze burst your pipes!</h2>
            <h5>With Pellaero, you're in control of your irrigation system for unexpected freezes.</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <div id="snow-flower-img" class="black-img"></div>
      <img class="img" src="./images/snow_flower_med.jpg">
    </div>
  </div>

  <div id="small-parallax" class="parallax-container hide-on-med-and-up">
    <div class="section">
        <div class="container">
            <div class="row center">
              <div class="col s12 title">
                <h5>Don't let an unexpected freeze burst your pipes!</h5>
                <p>With Pellaero, you're in control of your irrigation system for unexpected freezes.</p>
              </div>
            </div>
        </div>
    </div>
    <div class="parallax">
      <div class="black-img"></div>
      <img class="img" src="./images/snow_flower_med.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section white-space">
      <div class="row center">
        <h2 class="light-green-text text-darken-3 hide-on-small-only">Pellaero is the right choice for you.</h2>
        <h5 class="light-green-text text-darken-3 hide-on-med-and-up">Pellaero is the right choice for you.</h5>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">perm_identity</i></h2>
          <h5 class="center light-green-text text-darken-3">Homeowner</h5>
          <div class="divider"></div>
          <p class="light left-align">Homeowners will appreciate the ability to purge their in-ground sprinkler system at their command. No need to schedule an appointment with your sprinkler maintenance company. With our system, you decide when the time is right. When the weather warms up or an unexpected freeze occurs, you're in control and can purge or turn on the water at will.</p>
        </div>
        <div class="col s12 m6">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">store</i></h2>
          <h5 class="center light-green-text text-darken-3">Landscape Professional</h5>
          <div class="divider"></div>
          <p class="light left-align">Landscape professionals will find the Pellaero Purge System on the cutting edge of in-ground irrigation management. Applications for this system exist throughout all geographic regions and climates, as well as green roof gardening. Since customer satisfaction and solid results are your goal, this system is a must-have offering for your clients.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper hide-on-small-only">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="col s12">"Love the concept! It's been awesome not having to schedule and pay for post season purging and trying to judge the perfect time to do it."</h5>
                <p class="light">Michael - Erie, Colorado</p>
            </div>
        </div>
    </div>
    <div class="parallax">
      <div class="black-img"></div>
      <img class="img" src="./images/lawn_mower.jpg">
    </div>
  </div>

  <div id="small-parallax" class="parallax-container hide-on-med-and-up">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col s12 title">
            <blockquote>
              "Love the concept! It's been awesome not having to schedule and pay for post season purging and trying to judge the perfect time to do it."
              <br>
              Michael - Erie, Colorado
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <div class="black-img"></div>
      <img class="img" src="./images/lawn_mower.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section white-space">
      <div class="row center">
        <h2 class="light-green-text text-darken-3 hide-on-small-only">Sprinkler Purge Benefits</h2>
        <h5 class="light-green-text text-darken-3 hide-on-med-and-up">Sprinkler Purge Benefits</h5>
      </div>
      <div class="row">
        <div class="col s12 m3">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">stars</i></h2>
          <hr>
          <p class="light">Eliminates annual cost of hiring a purge service contractor.</p>
        </div>
        <div class="col s12 m3">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">stars</i></h2>
          <hr>
          <p class="light">No more premature seasonal shut-off of irrigation due to early freeze warnings.</p>
        </div>
        <div class="col s12 m3">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">stars</i></h2>
          <hr>
          <p class="light">No need for cumbersome alternative winter watering methods.</p>
        </div>
        <div class="col s12 m3">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">stars</i></h2>
          <hr>
          <p class="light">Water or purge at-will through the transitional months.</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">stars</i></h2>
          <hr>
          <p class="light">Extended growing season.</p>
        </div>
        <div class="col s12 m3">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">stars</i></h2>
          <hr>
          <p class="light">Stronger, healthier landscape.</p>
        </div>
        <div class="col s12 m3">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">stars</i></h2>
          <hr>
          <p class="light">Minimize winter die-off.</p>
        </div>
        <div class="col s12 m3">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">stars</i></h2>
          <hr>
          <p class="light">Reduces risk of freeze damage.</p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="parallax-container valign-wrapper hide-on-small-only">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <div class="col s12 title">
            <h5 class="col s12">"The Pellaero Purge Controller was installed seamlessly with my current irrigation controller. I'm impressed with it's ability to purge completely at my command. This system allows me flexibility in irrigating and purging during the fall and spring months."</h5>
            <p class="light">Richard - Colorado Springs, Colorado</p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <div class="black-img"></div>
      <img class="img" src="./images/on_off_small.jpg">
    </div>
  </div>

  <div id="small-parallax" class="parallax-container hide-on-med-and-up">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <div class="col s12 title">
            <blockquote>
              "The Pellaero Purge Controller was installed seamlessly with my current irrigation controller. I'm impressed with it's ability to purge completely at my command. This system allows me flexibility in irrigating and purging during the fall and spring months."<br>
              Richard - Colorado Springs, Colorado
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax">
      <div class="black-img"></div>
      <img class="img" src="./images/on_off_small.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section white-space">
      <div class="row">
        <div class="col s12 m6">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">shopping_cart</i></h2>
          <h5 class="center light-green-text text-darken-3">Ready to Buy?</h5>
          <hr>
          <p class="light">No need to schedule an appointment with your sprinkler maintenance company. With our system, you decide when the time is right. When the weather warms up or an unexpected freeze occurs, you're in control and can purge or turn on water at-will.</p>
          <a href="http://pellaero.myshopify.com/collections/all" class="hide-on-small-only header-button btn green darken-3 white-text">Purchase Now</a>
          <a href="http://pellaero.myshopify.com/collections/all" class="hide-on-med-and-up btn green darken-3 white-text">Purchase Now</a>
        </div>
        <div class="col s12 m6">
          <h2 class="center light-green-text text-darken-3"><i class="medium material-icons">info_outline</i></h2>
          <h5 class="center light-green-text text-darken-3">Questions?</h5>
          <hr>
          <p class="light">The Pellaero Purge System was designed to give the homeowner year-round control over landscape irrigation, especially during those transitional weather months. This is particularly important in colder geographic regions and semi-arid to arid climates.</p>
          <a ui-sref="about" class="hide-on-small-only header-button btn green darken-3 white-text">Learn More</a>
          <a ui-sref="about" class="hide-on-med-and-up btn green darken-3 white-text">Learn More</a>
        </div>
      </div>
    </div>
  </div>

</div>
