<div class="container">
	<div class="section white-space">
		<div class="row center">
      <div class="col s12">
  			<h2 class="header2 card-title light-green-text text-darken-3 hide-on-small-only">Product Options</h2>
        <h5 class="header2 card-title light-green-text text-darken-3 hide-on-med-and-up">Product Options</h5>
      </div>
		</div>
    <div class="row center">
      <div class="col s12">
        <p class="light">With the patented Pellaero Sprinkler Purge System you can prepare your irrigation system for winter in minutes. No more worries about turning off your system too soon or freezing your pipes! With the Pellaero Sprinkler Purge System, you can purge and turn on your sprinkler system whenever you want, as many times as you want. Why hang around waiting for the landscape company? Do it yourself. Take control with Pellaero.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <h5 class="center light-green-text text-darken-3">Standard</h5>
        <hr>
        <p class="light left-align">The standard option requires manual water turn-off before flipping the Pellaero switch to purge.</p>
        <p class="light">This option can be installed in ¾-inch or 1-inch diameter copper plumbing. Please determine your plumbing size before ordering.</p>
        <br>
        <a class="brown-text text-darken-2" href="http://pellaero.myshopify.com/products/3-4-manual-water-valve-option">¾-inch Pellaero Sprinkler Purge System</a>
        <br>
        <br>
        <a class="brown-text text-darken-2" href="http://pellaero.myshopify.com/products/1-manual-water-valve-option">1-inch Pellaero Sprinkler Purge System</a>
      </div>
      <div class="col s12 m6">
        <h5 class="center light-green-text text-darken-3">Automatic</h5>
        <hr>
        <p class="light left-align">The automatic water valve option provides automatic water shut-off before flipping the Pellaero switch to purge. This is a great option if your water valve is difficult to access.</p>
        <p class="light">This option can be installed in ¾-inch or 1-inch diameter copper plumbing. Please determine your plumbing size before ordering.</p>
        <br>
        <a class="brown-text text-darken-2" href="http://pellaero.myshopify.com/products/3-4-automated-water-valve-option">¾-inch Pellaero Sprinkler Purge System</a>
        <br>
        <br>
        <a class="brown-text text-darken-2" href="http://pellaero.myshopify.com/products/1-automated-water-valve-option">1-inch Pellaero Sprinkler Purge System</a>
      </div>
    </div>
	</div>
</div>